body {
  background-color: #C80DFA;
  font-family: georgia;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#container {
  background-color: black;
  width: 1200px;
  height: 925px;
  /* max-height: 100%; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#score {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font: arial;
  font-size: 20pt;
}

.category-column {
  background-color: black;
  display: inline-table;
  word-wrap: break-word;
  justify-content: center;
  width: 16.66%;
  min-height: 100%;
  /* margin: 0 auto; */
  /* margin-left: auto;
  margin-right: auto; */
}

.clue-container {
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
}

.bubble {
  border-radius: 25px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.category-bubble {
  border-radius: 12px;
  background-color: blue;
  /* display: inline; */
  text-align: center;
  word-wrap: break-word;
  hyphens: manual;
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 0;
  width: auto;
  height: 80px;
}



.clue-bubble {
  border-radius: 12px;
  background-color: blue;
  font: arial;
  font-weight: bolder;
  font-size: 30pt;
  color: gold;
  text-align: center;
  width: auto;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
}

.bubble#menu-bubble {
  display: block;
  width: 700px;
  height: 500px;
  padding-top: 40px;
}

.bubble#selected-clue-bubble {
  display: block;
  width: 700px;
  height: 500px;
  padding: 60px;
}

.bubble#game-over {
  display: block;
  font-size: 40pt;
  padding: 70px 0;
  width: 700px;
  height: 500px;
  padding: 60px;
}

.bubble#game-over ol{
  font-size: 20pt;
}

.question {
  font-size: 30pt;
  padding: 70px 0;
  /* padding-bottom: 40px; */
}

.answer {
  font-size: 14pt;
}

#logo {
  width: 395px;
  height: 116px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.bubble-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.bubble-text#welcome {
  font-size: 40pt;
}

.answer-status {
  font-size: 24pt;
  color: gold;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* padding: 70px 0; */
}
