body {
  background-color: gray;
  font-family: georgia;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#container {
  background-color: black;
  width: 1200px;
  height: 1200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.score {
  width: 50%;
  margin: 0 auto;
  font: arial;
  font-size: 20pt;
}

.game-container {
  width: 50%;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}

.category-column {
  background-color: black;
  display: inline-block;
  justify-content: center;
  width: 150px;
  /* height: 1100px; */
  margin-left: auto;
  margin-right: auto;
}

.clue-container {
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.bubble {
  border-radius: 25px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.category-bubble {
  border-radius: 12px;
  background-color: blue;
  /* display: inline; */
  text-align: center;
  word-wrap: break-word;
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 0;
  width: 140px;
  height: 80px;
}



.clue-bubble {
  border-radius: 12px;
  background-color: blue;
  font: arial;
  font-weight: bolder;
  font-size: 30pt;
  color: #F6D629;
  text-align: center;
  width: 140px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
}

.bubble#master-bubble {
  display: flex;
  width: 700px;
  height: 500px;
}

#logo {
  width: 395px;
  height: 116px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.bubble-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.bubble-text#welcome {
  font-size: 40pt;
}

.question {
  font-size: 30pt;
  padding: 70px 0;
}
